
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}
body{
    background-image: linear-gradient(to left, rgb(2, 162, 255), rgb(0, 128, 98));
    width: 100%;
    height: 100%;
}
.navbar{
  display: flex;
  flex-direction: row;
  position: fixed;
  background-image: linear-gradient(to left, rgb(2, 162, 255), rgb(0, 128, 98));
  height: 80px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0.5px solid #e5d9d96c;
  z-index: 1;

}
.main{
    display: flex;
    flex-direction: row;
}
.nav-button{
    background: none;
    text-align: left; 
    }

.profile-stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    width: 100%;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 60%; */
    /* justify-content: center; */
}
.stat a{
    text-decoration: none;
    color: white;
    /* font-size: 1.2em; */
    cursor: pointer;
}
.logo{
    width: 70px;
    height: 70px;
    animation: logo-spin infinite 20s linear;
}
.navbar ul{
  list-style-type: none;
}
.nav-tags{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    font-size: 1.2rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-bio{
  display: flex;
  flex-direction: column;
  height: 60px
}
.nav-tags a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-decoration: none;
}
.nav-tags:visited{
  color: white;
} 